.city-box{position:absolute; z-index:9999; background:#fff; border:2px solid #c9cbce; width:400px; padding:15px 15px 5px;}
.city-box:before,.city-box:after{content:''; display:block; width: 0; height: 0; border-width: 10px; border-style:solid; position: absolute; left:20px; z-index:9998;}
.rightSelector:before,.rightSelector:after{left:280px;}
.city-box:before{border-color: transparent transparent #ffffff; top: -17px; z-index:10001;}
.city-box:after{border-color: transparent transparent #c8c8c8; top: -20px;}
.city-box *{padding:0; margin:0; font-size:14px; font-family:"Microsoft YaHei"; color:#666;}

.prov-city{padding-bottom:10px; margin-bottom:15px; border-bottom:1px solid #d8d8d8;}

.provence:after,.provence ul:after,.prov-city ul:after,#js_provCitys:after{content:" "; display:block; height:0; clear:both;}
.provence div{font-weight:bold;}
.provence ul{list-style-type:none; font-weight:normal; padding-top:15px; margin:0 -5px; *zoom:1;}
.provence li,.prov-city li,#js_provCitys li{float:left; padding:5px; margin:0 5px 10px; background:#fafafa; cursor:pointer; color:#999;}
.provence li{padding:0; height:90px; line-height:32px; width:60px; position:relative; margin:0 4px 8px;}
.provence li li{padding:5px; height:auto; line-height:normal; margin:0 5px 10px;}
.provence span:hover,.prov-city li:hover,#js_provCitys li:hover{background:#f3f3f3; color:#53a302;}
.prov-city p{font-weight:bold; margin-bottom:10px;}
.prov-city ul,#js_provCitys{position:initial; border:none; *zoom:1; list-style:none; margin:0 -5px;}
.prov-city li,#js_provCitys li{width:62px; font-size:14px; font-family:"Microsoft YaHei";}

#js_provCitys{position:absolute; top:33px; left:-15px; z-index:99999; width:410px; background:#fff; border:1px solid #d8d8d8; *zoom:1; padding:0; padding-top:10px; margin:0;}
.provence span{display:block; height:100%; border:1px solid #fafafa; background:#fafafa; padding:0 10px; width:40px;}
