<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tss.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.tss.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetInfoByIdServlet</servlet-name>
    <servlet-class>com.tss.servlet.GetInfoByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetOrderServlet</servlet-name>
    <servlet-class>com.tss.servlet.GetOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>com.tss.servlet.AddOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllSpotInfoServlet</servlet-name>
    <servlet-class>com.tss.servlet.GetAllSpotInfoServlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>GetSearchSpotInfoServlet</servlet-name>
    <servlet-class>com.tss.servlet.GetSearchSpotInfoServlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>GetSpecifiedLineServlet</servlet-name>
    <servlet-class>com.tss.servlet.GetSpecifiedLineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllLineServlet</servlet-name>
    <servlet-class>com.tss.servlet.GetAllLineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetInfoByPositionServlet</servlet-name>
    <servlet-class>com.tss.servlet.GetInfoByPositionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetInfoBySortServlet</servlet-name>
    <servlet-class>com.tss.servlet.GetInfoBySortServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderSpotInfoServlet</servlet-name>
    <servlet-class>com.tss.servlet.OrderSpotInfoServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInfoByIdServlet</servlet-name>
    <url-pattern>/GetInfoByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetOrderServlet</servlet-name>
    <url-pattern>/GetOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/AddOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllSpotInfoServlet</servlet-name>
    <url-pattern>/GetAllSpotInfoServlet</url-pattern>
  </servlet-mapping>	
   <servlet-mapping>
    <servlet-name>GetSearchSpotInfoServlet</servlet-name>
    <url-pattern>/GetSearchSpotInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSpecifiedLineServlet</servlet-name>
    <url-pattern>/GetSpecifiedLineServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>GetAllLineServlet</servlet-name>
    <url-pattern>/GetAllLineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInfoByPositionServlet</servlet-name>
    <url-pattern>/GetInfoByPositionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInfoBySortServlet</servlet-name>
    <url-pattern>/GetInfoBySortServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderSpotInfoServlet</servlet-name>
    <url-pattern>/OrderSpotInfoServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
